.header {
    padding: 20px 100px;

    .header__logo {
        width: 30px;
    }
    
    .header__content {
        display: flex;
        align-items: center;
    }
    
    .header__list {
        display: flex;
        align-items: center;
        margin-left: 650px;
        gap: 30px;
    }
    
    .header__link {
        color: #000;

        &:hover {
            color: aqua;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 10px 50px;
    }

    .header__link {
        display: none;
    }
}